.button {
  background: $blue;
  border: none;
  color: white;
  padding: $s-size;
  font-weight: 300;
  font-size: $large-font-size;
  display: inline-block; // Takes into effect top and bottom margin and padding
  text-decoration: none;
  line-height: 1;
}

.button--link {
  background: none;
}

.button--secondary {
  @extend .button;
  background: $dark-blue;
}