.button {
  background: $turqouise;
  border: none;
  color: white;
  padding: $s-size;
  font-weight: 300;
  font-size: $large-font-size;
  display: inline-block; // Takes into effect top and bottom margin and padding
  text-decoration: none;
  line-height: 1;
  margin-top: $s-size;
  transition: background .2s ease;
  &:hover { // equivalent to .list-item:hover
    background: darken($turqouise, 10%)
  }
}

.button--secondary {
  @extend .button;
  background: $dark-blue;
  &:hover { // equivalent to .list-item:hover
    background: darken($dark-blue, 10%)
  }
}

.button--third {
  @extend .button;
  background: $bright-red;
  &:hover { // equivalent to .list-item:hover
    background: darken($bright-red, 10%)
  }
}