div.story-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-top: $s-size;
 }

 div.story-info * {
  margin: 0;
 }

 div.story-info span {
  font-style: italic;
 }