// Colors
$dark-grey: #333333;
$medium-grey: #555555;
$off-white: #f7f7f7;
$turqouise: #009A9E;
$dark-blue: #364051;
$light-green: #009C3E;
$bright-red: #E70000;

// Font sizes
$large-font-size: 1.8rem;
$small-font-size: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem; // for media queries to adjust settings for mobile

// Fonts
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway|Cabin+Sketch');